*.feather
mcns_fw_edge_comp.feather
.DS_Store
tri.pkl
*.csv
*.json
*.xlsx
*.pyc
__pycache__/motif_counts.cpython-312.pyc
__pycache__/graph_creation.cpython-312.pyc
__pycache__/motif_counts.cpython-312.pyc
